body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

#logo {
    cursor: pointer;
}

#homework {
    display: flex;
    gap: 20px;
}

.homework-item {
    color: black;
    cursor: pointer;
    margin-left: -400px;
}

.homework-item:hover {
    color: blue;
}

.dropdown {
    position: relative;
}

#hwDropdown {
    cursor: pointer;
    position: relative; /* Добавляем позицию "relative" */
    top: 200px; /* Сдвигаем элемент вниз на 200px */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 220px;
}

.dropdown-content .badge {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

.green {
    background-color: green;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.counter {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.counter button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
}

.counter button:hover {
    background-color: #555;
}

#count {
    font-size: 18px;
    margin: 0 10px;
    color: black;
}
